
@{
    /**/

    ViewBag.Title = "Afisare proiecte";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>
<hr />
@if (ViewBag.isAdmin)
{
    foreach (var project in ViewBag.Projects)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@project.ProjectTitle</h2>
            </div>
            <div class="panel-body">
                <a class="btn btn-primary btn-block" href="/Projects/Show/@project.ProjectId">Afisare detalii proiect</a>
            </div>
        </div>
        <br />
        <hr />
    }
}
else
{
    if (ViewBag.isOrganizer)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Proiecte organizate</h2>
            </div>
            <div class="panel-body">
                @foreach (var project in ViewBag.UserOrgProjects)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>@project.ProjectTitle</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-primary btn-block" href="/Projects/Show/@project.ProjectId">Afisare detalii proiect</a>
                        </div>
                    </div>
                    <br />
                    <hr />
                }
            </div>
        </div>
    }

    if (ViewBag.teamCount > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Echipe utilizator</h2>
            </div>
            <div class="panel-body">
                @foreach (var project in ViewBag.UserTeams)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>@project.ProjectTitle</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-primary btn-block" href="/Projects/Show/@project.ProjectId">Afisare detalii proiect</a>
                        </div>
                    </div>
                    <br />
                    <hr />
                }
            </div>
        </div>
    }

}








<a class="btn btn-default btn-block" href="/Projects/New">Adaugare proiect nou</a>
